# This is an example local.nix file for secrets or machine-specific config that
# is ignored by git.
# Copy this to machines/$MACHINE/local.nix and customize.

# { config, pkgs, ... }:
# {
#   home.packages = with pkgs; [
#     some-package
#   ];

#   programs.git = {
#     enable = true;
#     userEmail = "work.email@company.com";
#   };

#   home.sessionVariables = {
#     SOME_SECRET_KEY = "secret-value";
#   };

#   programs.ssh = {
#     enable = true;
#     matchBlocks = {
#       "work-server" = {
#         hostname = "internal.company.com";
#         user = "myuser";
#       };
#     };
#   };
# }

# Local Variables:
# mode: nix
# End:
